@model GovernmentShipping
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5 style="color:gray">Government Shipping</h5>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdminGovernmentShipping">Product-Offer</a></li>
                        <li class="breadcrumb-item active">Add New Government Shipping Quota</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="card card-info" style="margin:10px">
        <div class="card-header">
            <h3 class="card-title">New Shipping Quota</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" asp-controller="AdminGovernmentShipping" method="post" asp-action="Create">
            <div class="card-body">
                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-2 col-form-label">Government Name</label>
                    <div class="col-sm-10">
                        <input asp-for="Name" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ShippingPrice" class="col-sm-2 col-form-label">Shipping Price </label>
                    <div class="col-sm-9">
                        <input asp-for="ShippingPrice" class="form-control"  min="0" required>
                    </div>
                    <label class="col-sm-1 col-form-label">EGP </label>
                    <span asp-validation-for="ShippingPrice" class="text-danger"></span>
                </div>
               
                <div class="form-group row">
            <div class="custom-control custom-checkbox">
                <input asp-for="IsActive" class="custom-control-input" type="checkbox" style="margin-right:10px">
                <label asp-for="IsActive" class="custom-control-label">Active</label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>

        </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info"> <i class="far fa-save mr-1"></i> Save</button>
                <a asp-action="Index" asp-controller="AdminGovernmentShipping" class="btn btn-default float-right">Cancel</a>
            </div>

            <!-- /.card-footer -->
        </form>
    </div>
</div>


